#media-desc.row-top
  p.
    #{courseConfig.media.desc}

#media.row-media
  video(width="600", height="280", controls)
    source(src="#{courseConfig.media.source}", type="#{courseConfig.media.type}")

#course-det.row-course
